---
import { SITE_TITLE } from '../consts';
---

<header class="flex flex-col my-24">
	<a href="/" class="font-medium text-black">{SITE_TITLE}</a>
	<span class="text-gray">Software Engineer</span>
</header>
