---
import { SITE_TITLE } from '../consts';
---

<header class="my-24 flex flex-col">
  <a href="/" class="font-medium text-black">{SITE_TITLE}</a>
  <span class="text-gray">Product Engineer</span>
</header>
